# Ignore all files starting with an extension
.*

# Unignore files starting with an extension:
!.gitignore

# Ignore files with extension:
# *.o
*.a

# Ignore directories:
build/

# Ignore executables:
vm
